.pokemon-detail-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: solid 1px #9a9a9a;
}

.pokemon-detail {
  width: 80%;
  height: 40%;
  display: flex;
  justify-content: space-around;
}

.pokemon-detail-id {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-detail-id h2 {
  font-size: 3rem;
}

.pokemon-detail .pokemon-class {
  width: 10%;
  height: 10%;
}

.pokemon-detail-img {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-detail img {
  width: 75%;
  height: 75%;
}


/* 
yoursTRULY - YouTube
https://www.youtube.com/watch?v=PZzxbhf9KaM
*/
.pokeball {
  width: 100px;
  height: 100px;
  background: linear-gradient(to bottom, #ee1515 50%, white 50%);
  border: 8px solid black;
  border-radius: 50%;
  position: relative;
  animation: anim 1s linear infinite;
}

.pokeball::before {
  content: '';
  position: absolute;
  background: black;
  height: 8px;
  width: 100px;
  top: 50px;
  transform: translateY(-50%);
}
.pokeball::after {
  content: '';
  position: absolute;
  background: white;
  height: 38px;
  width: 38px;
  top: 50px;
  left: 50px;
  transform: translate(-50%, -50%);
  border: 1px solid;
  border-radius: 50%;
  box-shadow: inset 0 0 0 6px black, inset 0 0 0 12px white, inset 0 0 0 20px black;
}

@keyframes anim {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
