.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem 1rem;
  border-radius: 4px;
  border: solid 1px #000;
}

.pokemon-id {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
}

.card-container img{
  width: 60%;
}

.card-container button{
  color: white;
  font-size: 1.3rem;
  font-weight: 900;
  cursor: pointer;
  height: 3rem;
  width: 12rem;
  margin: 2rem 0;
  border-radius: 4rem;
  background: linear-gradient(to right, #ee1515, #222224);
  outline-style: none;
}
